.principal {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  align-items: center;
}
.principal h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  position: relative;
}
/* .principal h1::before {
  content: "";
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  background-image: url("./img/detalhe.svg");
  position: absolute;
  z-index: -1;
  top: -35px;
  left: -30px;
} */

@media (max-width: 1100px) {
  .principal h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
@media (max-width: 1000px) {
  .principal h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
@media (max-width: 800px) {
  .principal {
    grid-template-columns: 1fr 1fr;
  }
  .principal h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .principal {
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .principal h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media (max-width: 500px) {
  .principal {
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
  }
  .principal img {
    display: none;
  }

  .principal h1 {
    text-align: start;
  }
}
